:root {
    --linear-gradient: #98c269, #9edfb6;
}

.body {
    background: #0e0e12;
    font-family: 'Gotham Pro', 'Arial', sans-serif;
    line-height: 1.5;
    color: #FFFFFF;
}

.bacground-green {
    filter: blur(500px);
    background: linear-gradient(180.00deg, #98c269, #9edfb6 100%);
    width: 100%;
    max-width: 500px;
    height: 300px;
    left: -480px;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1610px;
    width: 100%;
    margin: 0 auto;
    padding:  15px;
}

/* ===================================== */

.header {
    position: relative;
}

.button {
    border-radius: 20px;
    width: 234px;
    padding: 18px;
    background: linear-gradient(56.66deg, #dc6b30 17.978%, #e4864f 49.627%, #ffbe82 72.68%, #e49031 92.997%);

    color: #000000;
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0%;
}


.button__black {
    position: relative;
    background: #000000;
    border-radius: 20px;
    padding: 15px 25px;
    display: inline-block;
    margin: 0 20px;
    width: 113px;
    height: 60px;

    color: #f1dddd;
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
}

.button__black::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 22px;
    background: linear-gradient(90deg, #FF8924 0%, #FFB017 100%);

    z-index: -1;
    padding: 2px;
}

.title {
    font-family: "Gotham Pro";
    font-size: 70px;
    font-weight: 700;
    line-height: 117.2%;
}


/* ================================== */

.main__steps {
    padding-top: 140px;
}

/* ================================= */

.footer {
    width: 100%;
    padding-bottom: 50px;
    background: #202020;
}