.questions__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 220px;
    padding-top: 320px;
}

.questions__info {
    padding-left: 25px;
    padding-right: 10px;
}

.questions__info-title {
    font-family: "Gotham Pro";
    font-size: 70px;
    text-align: left;
    padding-bottom: 21px;
}


.questions__info-text {
    max-width: 343px;
    width: 100%;
    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 535px;
}

.questions__info-button {
    padding: 36px 49px 35px 48px;
    border-radius: 20px;
    font-family: "Gotham Pro";
    font-size: 22px;
}


.questions__accordion {
    padding-top: 50px;
}

.accordion-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.accordion-list:last-child {
    padding-bottom: 0px;
}

.accordion-list__control {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #0e0e12;
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}



.accordion-list__control-questions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #24242d;
}

.accordion-list__control:hover .accordion-list__control-questions {
    background: linear-gradient(150.00deg, #6ba758, #23503d 100%);
}

.accordion-list__control-questions--text {
    font-family: "Gotham Pro";
    font-size: 35px;
    line-height: 117.2%;

}

.accordion-list__control-title {
    position: relative;
    height: 47px;
    font-family: "Gotham Pro";
    font-size: 40px;
    font-weight: 300;
    line-height: 117.2%;
    letter-spacing: 0%;
    padding-left: 70px;
}

.accordion-list__control-icon {
    right: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid rgba(39, 41, 50, 1);
}

.accordion-list__control:hover .accordion-list__control-icon {
    border: 3px solid #62666f;
}

.accordion-list__control-icon svg {
    text-align: center;
    width: 100%;
    height: 11.2px;
}

.accordion-list__control:hover .accordion-list__control-icon svg path {
    fill: #62666f;
    ;
}

.accordion-list__content {
    max-height: 0;
    transition: max-height 0.7s ease;
    overflow: hidden;

    font-family: "Gotham Pro";
    font-size: 40px;
    font-weight: 300;
    line-height: 117.2%;
    letter-spacing: 0%;

}

.accordion-content {
    padding: 0 130px 40px;
}


/* ============================= */

.contacts__title {
    text-align: center;
    padding-bottom: 85px;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding-bottom: 135px;
    padding-right: 60px;
    padding-left: 20px;
}

.contacts__application {
    position: relative;
    max-width: 377px;
    width: 100%;

}

.contacts__application-blok {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 135px;
    border-radius: 24px;
    background: linear-gradient(136.82deg, #16373a, #0a1f24 29%, #0b1b23 49%, #122b31 100%);
}

.contacts__order {
    position: absolute;
    right: -16px;
    top: -14px;
    width: 46px;
    height: 46px;
    background: #ffffff;
    border-radius: 50%;
}

.contacts__order-text {
    margin-top: 3px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: 500;
    line-height: 158.7%;
}

.contacts__application-title {
    padding-top: 35px;
    font-family: "Gotham Pro";
    font-size: 35px;
    font-weight: 400;
    line-height: 130.2%;
}

.contacts__application-text {
    padding-top: 23px;
    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: 300;
}

.contacts__arrow {
    position: absolute;
    top: 68px;
    right: -102px;
}

.contacts__arrow img {
    max-width: 300px;
    width: 100%;
    pointer-events: none;
    cursor: default;
}

.contacts__arrow-a {
    position: absolute;
    top: 62px;
    right: -164px;
    padding-right: 50px;
}

.contacts__arrow-a img {
    max-width: 30px;
    width: 100%;
    pointer-events: none;
    cursor: default;


}

.contacts__account {
    position: relative;
    max-width: 377px;
    width: 100%;
}

.contacts__account-blok {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 135px;
    border-radius: 24px;
    background: var(--выфвв, linear-gradient(-38.31deg, #82c36d, #25523e 100%));
}

.contacts__account-title {
    padding-top: 35px;
    font-family: "Gotham Pro";
    font-size: 35px;
    font-weight: 400;
    line-height: 130.2%;
}

.contacts__account-text {
    padding-top: 20px;
    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: 300;
}


.contacts__invest {
    max-width: 464px;
    width: 100%;
}

.contacts__invest-blok {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 135px;
    border-radius: 24px;
    background: linear-gradient(135.33deg, #76b467, #295740 100%);
}


.contacts__invest-title {
    padding-top: 35px;
    font-family: "Gotham Pro";
    font-size: 35px;
    font-weight: 400;
    line-height: 130.2%;
}

.contacts__invest-text {
    max-width: 377px;
    width: 100%;
    padding-top: 20px;
    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: 300;
}




.contacts__input {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 140px;
    gap: 10px;
}


.contacts__input-name {
    padding-left: 40px;
}

.contacts__input-name input {
    width: 376px;
    height: 106px;

    border: 4px solid #ffffff4a;
    border-radius: 20px;
    background: #202020;

    padding-left: 40px;
}

.contacts__input-name input::placeholder {

    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: 300;
}



.contacts__input-tel input {

    width: 376px;
    height: 106px;

    border: 4px solid #ffffff4a;
    border-radius: 20px;
    background: #202020;

    padding-left: 40px;
}

.contacts__input-tel input::placeholder {

    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: 300;
}

.contacts__input-email input {

    width: 376px;
    height: 106px;

    border: 4px solid #ffffff4a;
    border-radius: 20px;
    background: #202020;

    padding-left: 40px;
}

.contacts__input-email input::placeholder {

    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: 300;
}

.contacts__input-button {
    max-width: 376px;
    width: 100%;
    padding: 36px 93px 35px 92px;

    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: 700;
}

.contacts__bg {
    position: absolute;
    z-index: -1;
    bottom: -219px;
    filter: blur(500px);
    background: linear-gradient(180.00deg, #98c269, #9edfb6 100%);
    max-width: 1837px;
    width: 100%;
    max-height: 418px;
    height: 100%;
}


/* =================================== */
/* =================================== */
/* =================================== */

@media (max-width: 1580px) {
    .contacts__input-name input {
        width: 345px;
    }

    .contacts__input-tel input {
        width: 345px;
    }

    .contacts__input-email input {
        width: 345px;
    }

    .contacts__input-button {
        max-width: 345px;
        padding: 32px 60px 35px 80px;
    }
}

@media (max-width: 1500px) {
    .questions__info-title {
        font-family: "Gotham Pro";
        font-size: 60px;
    }

    .questions__info-text {
        font-family: "Gotham Pro";
        font-size: 20px;
        padding-bottom: 600px;
    }

    .questions__info-button {
        font-family: "Gotham Pro";
        font-size: 21px;
    }

    /* =================== */

    .accordion-list__control-title {
        margin-top: 5px;
        font-family: "Gotham Pro";
        font-size: 35px;
        padding-left: 50px;
    }

    .accordion-list__content {
        font-family: "Gotham Pro";
        font-size: 30px;
    }

    /* ====================== */

    .contacts__title {
        font-size: 60px;
    }

    .contacts__inner {
        padding-right: 20px;
    }

    .contacts__application-blok {
        width: 125px;
        height: 125px;
    }

    .contacts__application-title {
        font-family: "Gotham Pro";
        font-size: 30px;
    }

    .contacts__application-text {
        font-family: "Gotham Pro";
        font-size: 20px;
    }



    .contacts__account-blok {
        width: 125px;
        height: 125px;
    }

    .contacts__account-title {
        font-family: "Gotham Pro";
        font-size: 30px;
    }

    .contacts__account-text {
        font-family: "Gotham Pro";
        font-size: 20px;
    }



    .contacts__invest-blok {
        width: 125px;
        height: 125px;
    }

    .contacts__invest-title {
        font-family: "Gotham Pro";
        font-size: 30px;
    }

    .contacts__invest-text {
        font-family: "Gotham Pro";
        font-size: 20px;
    }
}

@media (max-width: 1450px) {
    .contacts__input-name input {
        width: 305px;
    }

    .contacts__input-tel input {
        width: 305px;
    }

    .contacts__input-email input {
        width: 305px;
    }

    .contacts__input-button {
        max-width: 305px;
        padding: 35px 34px 35px 64px;
    }
}

@media (max-width: 1300px) {

    .contacts__title {
        font-size: 55px;
    }

    .contacts__inner {
        padding-right: 15px;
    }

    .contacts__application-blok {
        width: 115px;
        height: 115px;
    }

    .contacts__application-title {
        font-family: "Gotham Pro";
        font-size: 25px;
    }

    .contacts__application-text {
        font-family: "Gotham Pro";
        font-size: 18px;
    }

    .contacts__arrow img {
        max-width: 220px;
    }

    .contacts__arrow-a img {
        max-width: 25px;
        width: 100%;
    }

    .contacts__account-blok {
        width: 115px;
        height: 115px;
    }

    .contacts__account-title {
        font-family: "Gotham Pro";
        font-size: 25px;
    }

    .contacts__account-text {
        font-family: "Gotham Pro";
        font-size: 18px;
    }



    .contacts__invest-blok {
        width: 115px;
        height: 115px;
    }

    .contacts__invest-title {
        font-family: "Gotham Pro";
        font-size: 25px;
    }

    .contacts__invest-text {
        font-family: "Gotham Pro";
        font-size: 18px;
    }
}

@media (max-width: 1280px) {
    .contacts__input-name input {
        width: 250px;
    }


    .contacts__input-name input::placeholder {
        font-size: 19px;
    }

    .contacts__input-tel input {
        width: 250px;
    }

    .contacts__input-tel input::placeholder {
        font-size: 19px;
    }

    .contacts__input-email input {
        width: 250px;
    }

    .contacts__input-email input::placeholder {
        font-size: 19px;
    }

    .contacts__input-button {
        max-width: 250px;
        font-size: 19px;
        padding: 34px 20px 30px 44px;
    }
}

@media (max-width: 1200px) {
    .questions__info-title {
        font-family: "Gotham Pro";
        font-size: 50px;
    }

    .questions__info-text {
        font-family: "Gotham Pro";
        font-size: 18px;
        padding-bottom: 500px;
    }

    .questions__info-button {
        font-family: "Gotham Pro";
        font-size: 19px;
    }

    /* =================== */

    .questions__accordion {
        padding-top: 32px;
    }

    .accordion-list {
        padding-bottom: 42px;
    }

    .accordion-list__control-title {
        margin-top: 20px;
        font-family: "Gotham Pro";
        font-size: 27px;
        padding-left: 50px;
    }

    .accordion-list__content {
        font-family: "Gotham Pro";
        font-size: 25px;
    }

    /* ======================= */


    .contacts__title {
        font-size: 50px;
    }

    .contacts__inner {
        padding-right: 10px;
    }

    .contacts__application-blok {
        width: 100px;
        height: 100px;
    }

    .contacts__application-title {
        font-family: "Gotham Pro";
        font-size: 22px;
    }

    .contacts__application-text {
        font-family: "Gotham Pro";
        font-size: 16px;
    }

    .contacts__arrow img {
        max-width: 210px;
    }

    .contacts__arrow-a img {
        max-width: 20px;
        width: 100%;
    }

    .contacts__arrow {
        top: 56px;

    }

    .contacts__arrow-a {
        top: 49px;
    }

    .contacts__account-blok {
        width: 100px;
        height: 100px;
    }

    .contacts__account-title {
        font-family: "Gotham Pro";
        font-size: 22px;
    }

    .contacts__account-text {
        font-family: "Gotham Pro";
        font-size: 16px;
    }



    .contacts__invest-blok {
        width: 100px;
        height: 100px;
    }

    .contacts__invest-title {
        font-family: "Gotham Pro";
        font-size: 22px;
    }

    .contacts__invest-text {
        font-family: "Gotham Pro";
        font-size: 16px;
    }
}

@media (max-width: 1060px) {

    .questions__inner {
        padding-top: 230px;
    }

    .questions__info-title {
        font-family: "Gotham Pro";
        font-size: 40px;
    }

    .questions__info-text {
        font-family: "Gotham Pro";
        font-size: 16px;
        padding-bottom: 526px;
    }

    .questions__info-button {
        font-family: "Gotham Pro";
        font-size: 17px;
    }

    /* =================== */

    .questions__accordion {
        padding-top: 16px;
    }

    .accordion-list {
        padding-bottom: 40px;
    }

    .accordion-list__control-title {
        font-family: "Gotham Pro";
        margin-top: 25px;
        font-size: 22px;
        padding-left: 50px;
    }

    .accordion-list__content {
        font-family: "Gotham Pro";
        font-size: 19px;
    }

    /* ===================== */


    .contacts__input-name input {
        width: 200px;
        height: 70px;
        border-radius: 15px;
    }


    .contacts__input-name input::placeholder {
        font-size: 16px;
    }

    .contacts__input-tel input {
        width: 200px;
        height: 70px;
        border-radius: 15px;
    }

    .contacts__input-tel input::placeholder {
        font-size: 16px;
    }

    .contacts__input-email input {
        width: 200px;
        height: 70px;
        border-radius: 15px;
    }

    .contacts__input-email input::placeholder {
        font-size: 16px;
    }

    .contacts__input-button {
        max-width: 200px;
        font-size: 16px;
        padding: 19px 18px 21px 36px;
        border-radius: 15px;
    }
}

@media (max-width: 950px) {

    .questions__inner {
        padding-top: 230px;
        padding-bottom: 150px;
    }

    .questions__info-title {
        font-family: "Gotham Pro";
        font-size: 30px;
    }

    .questions__info-text {
        font-family: "Gotham Pro";
        font-size: 14px;
        padding-bottom: 335px;
    }

    .questions__info-button {
        font-family: "Gotham Pro";
        font-size: 15px;
        padding: 21px 29px 26px 25px;
        border-radius: 12px;
    }

    /* =================== */

    .questions__accordion {
        padding-top: 10px;
    }

    .accordion-list {
        padding-bottom: 0px;
    }



    .accordion-list__control-questions--text {
        font-family: "Gotham Pro";
        font-size: 25px;
        line-height: 117.2%;
    }

    .accordion-list__control-title {
        font-family: "Gotham Pro";
        font-size: 18px;
        padding-left: 30px;
    }

    .accordion-list__content {
        font-family: "Gotham Pro";
        font-size: 15px;
    }

    .accordion-list__control-icon {
        width: 35px;
        height: 35px;
    }

    .accordion-list__control-icon svg {
        height: 9.2px;
    }

    /* ================================= */


    .contacts__title {
        font-size: 40px;
    }

    .contacts__inner {
        padding-right: 10px;
    }

    .contacts__application-blok {
        width: 90px;
        height: 90px;
    }

    .contacts__application-title {
        font-family: "Gotham Pro";
        font-size: 18px;
    }

    .contacts__application-text {
        font-family: "Gotham Pro";
        font-size: 13px;
    }

    .contacts__order {
        width: 35px;
        height: 35px;
    }

    .contacts__arrow img {
        max-width: 160px;
    }

    .contacts__arrow-a img {
        max-width: 15px;
        width: 100%;
    }


    .contacts__account-blok {
        width: 90px;
        height: 90px;
    }

    .contacts__account-title {
        font-family: "Gotham Pro";
        font-size: 18px;
    }

    .contacts__account-text {
        font-family: "Gotham Pro";
        font-size: 13px;
    }



    .contacts__invest-blok {
        width: 90px;
        height: 90px;
    }

    .contacts__invest-title {
        font-family: "Gotham Pro";
        font-size: 18px;
    }

    .contacts__invest-text {
        font-family: "Gotham Pro";
        font-size: 13px;
    }
}

@media (max-width: 870px) {

    .contacts__input {
        gap: 5px;
    }

    .contacts__input-name {
    padding-left: 10px;
}


    .contacts__input-name input {
        width: 150px;
        height: 50px;
        border-radius: 12px;
        padding-left: 10px;
    }


    .contacts__input-name input::placeholder {
        font-size: 13px;
    }

    .contacts__input-tel input {
        width: 150px;
        height: 50px;
        border-radius: 12px;
        padding-left: 10px;
    }

    .contacts__input-tel input::placeholder {
        font-size: 13px;
    }

    .contacts__input-email input {
        width: 150px;
        height: 50px;
        border-radius: 12px;
        padding-left: 10px;
    }

    .contacts__input-email input::placeholder {
        font-size: 13px;
    }

    .contacts__input-button {
        max-width: 150px;
        font-size: 13px;
        padding: 18px 8px 17px 10px;
        border-radius: 12px;
    }

}

@media (max-width: 770px) {

    .questions__inner {
        padding-top: 200px;
    }

    .questions__info-title {
        font-family: "Gotham Pro";
        font-size: 20px;
    }

    .questions__info-text {
        font-family: "Gotham Pro";
        font-size: 12px;
        padding-bottom: 402px;
    }

    .questions__info-button {
        font-family: "Gotham Pro";
        font-size: 12px;
        padding: 12px 16px 16px 15px;
        border-radius: 8px;
    }

    /* =================== */

    .questions__accordion {
        padding-top: 5px;
    }

    .accordion-list__control-questions {
        width: 25px;
        height: 25px;
    }

    .accordion-list__control-questions--text {
        font-family: "Gotham Pro";
        font-size: 16px;
        line-height: 117.2%;
    }

    .accordion-list__control-title {
        margin-top: 30px;
        font-family: "Gotham Pro";
        font-size: 14px;
        padding-left: 30px;
    }

    .accordion-list__content {
        font-family: "Gotham Pro";
        font-size: 14px;
    }

    .accordion-list__control-icon {
        width: 25px;
        height: 25px;
    }

    .accordion-list__control-icon svg {
        height: 7.2px;
    }

    /* ================================ */


    .contacts__title {
        font-size: 30px;
    }

    .contacts__inner {
        padding-right: 5px;
    }

    .contacts__application-blok {
        width: 70px;
        height: 70px;
        border-radius: 15px;
    }

    .contacts__application-title {
        font-family: "Gotham Pro";
        font-size: 15px;
    }

    .contacts__application-text {
        font-family: "Gotham Pro";
        font-size: 10px;
    }

    .contacts__order {
        width: 25px;
        height: 25px;
    }

    .contacts__order-text {
        font-size: 17px;
    }

    .contacts__arrow img {
        max-width: 115px;
    }

    .contacts__arrow-a img {
        max-width: 10px;
        width: 100%;
    }

    .contacts__arrow {
        top: 36px;
    }

    .contacts__arrow-a {
        top: 28px;
    }


    .contacts__account-blok {
        width: 70px;
        height: 70px;
        border-radius: 15px;
    }

    .contacts__account-title {
        font-family: "Gotham Pro";
        font-size: 15px;
    }

    .contacts__account-text {
        font-family: "Gotham Pro";
        font-size: 10px;
    }



    .contacts__invest-blok {
        width: 70px;
        height: 70px;
        border-radius: 15px;
    }

    .contacts__invest-title {
        font-family: "Gotham Pro";
        font-size: 15px;
    }

    .contacts__invest-text {
        font-family: "Gotham Pro";
        font-size: 10px;
    }
}

@media (max-width: 600px) {

    .questions__inner {
        display: block;
        padding-top: 140px;
        padding-bottom: 100px;
    }

    .questions__info-title {
        font-family: "Gotham Pro";
        font-size: 25px;
        text-align: center;
    }

    .questions__info-text {
        max-width: none;
        font-family: "Gotham Pro";
        font-size: 14px;
        padding-bottom: 32px;
        text-align: center;
    }

    .questions__info-button {
        margin-left: 33%;
        align-items: center;
        font-family: "Gotham Pro";
        font-size: 12px;
        padding: 12px 16px 16px 15px;
        border-radius: 8px;
    }

    /* =================== */

    .questions__accordion {
        padding-top: 30px;
    }

    .accordion-list__control-questions {
        width: 25px;
        height: 25px;
    }

    .accordion-list__control-questions--text {
        font-family: "Gotham Pro";
        font-size: 16px;
        line-height: 117.2%;
    }

    .accordion-list__control-title {
        margin-top: 30px;
        font-family: "Gotham Pro";
        font-size: 14px;
        padding-left: 30px;
    }

    .accordion-list__content {
        font-family: "Gotham Pro";
        font-size: 14px;
    }

    .accordion-list__control-icon {
        width: 25px;
        height: 25px;
    }

    .accordion-list__control-icon svg {
        height: 7.2px;
    }


    /* ====================== */



    .contacts__title {
        font-size: 25px;
    }

    .contacts__inner {
        display: grid;
        justify-content: center;
        gap: 50px;
    }

    .contacts__application-blok {
        padding-top: 15px;
    }

    .contacts__application-title {
        padding-top: 20px;
    }

    .contacts__application-text {
        padding-top: 6px;
    }


    .contacts__arrow {
        display: none;
    }

    .contacts__arrow-a {
        display: none;
    }


    .contacts__account-blok {
        padding-top: 15px;
    }

    .contacts__account-title {
        padding-top: 20px;
    }

    .contacts__account-text {
        padding-top: 6px;
    }



    .contacts__invest-blok {
        padding-top: 15px;
    }

    .contacts__invest-title {
        padding-top: 20px;
    }

    .contacts__invest-text {
        padding-top: 6px;
    }
}


@media (max-width: 620px) {

    .contacts__input {
        gap: 5px;
        padding-bottom: 100px;
    }

    .contacts__input-name {
    padding-left: 10px;
}


    .contacts__input-name input {
        width: 100px;
        height: 30px;
        border-radius: 6px;
        padding-left: 5px;
    }


    .contacts__input-name input::placeholder {
        font-size: 8px;
    }

    .contacts__input-tel input {
       width: 100px;
        height: 30px;
        border-radius: 6px;
        padding-left: 5px;
    }

    .contacts__input-tel input::placeholder {
        font-size: 8px;
    }

    .contacts__input-email input {
       width: 100px;
        height: 30px;
        border-radius: 6px;
        padding-left: 5px;
    }

    .contacts__input-email input::placeholder {
        font-size: 8px;
    }

    .contacts__input-button {
        max-width: 100px;
        font-size: 8px;
     padding: 9px 0px 12px 15px;
        border-radius: 8px;
    }

}

@media (max-width: 500px) {
    .questions__info-button {
        margin-left: 30%;
        align-items: center;
        font-family: "Gotham Pro";
        font-size: 12px;
        padding: 12px 16px 16px 15px;
        border-radius: 8px;
    }
}


@media (max-width: 420px) {

    .contacts__input {
        gap: 5px;
        padding-bottom: 80px;
    }

    .contacts__input-name {
    padding-left: 10px;
}


    .contacts__input-name input {
        width: 80px;
        height: 30px;
        border-radius: 6px;
        padding-left: 5px;
    }


    .contacts__input-name input::placeholder {
        font-size: 8px;
    }

    .contacts__input-tel input {
       width: 80px;
        height: 30px;
        border-radius: 6px;
        padding-left: 5px;
    }

    .contacts__input-tel input::placeholder {
        font-size: 8px;
    }
    .contacts__input-email input {
       width: 80px;
        height: 30px;
        border-radius: 6px;
        padding-left: 5px;
    }

    .contacts__input-email input::placeholder {
        font-size: 8px;
    }

    .contacts__input-button {
        max-width: 100px;
        font-size: 8px;
     padding: 9px 0px 12px 15px;
        border-radius: 8px;
    }
}

@media (max-width: 410px) {
    .questions__info-button {
        margin-left: 23%;
        align-items: center;
        font-family: "Gotham Pro";
        font-size: 12px;
        padding: 12px 16px 16px 15px;
        border-radius: 8px;
    }
}