.invest__title {
    text-align: center;
    padding-bottom: 28px;
}

.invest__text {
    font-family: 'Gotham Pro';
    font-size: 25px;
    font-weight: 400;
    line-height: 158.2%;
    text-align: center;
    padding-bottom: 171px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    row-gap: 72px;
    column-gap: 68px;
}

.actions__one {
    position: relative;
    max-width: 381px;
    width: 100%;
}

.actions__one--steps {
    padding-bottom: 20px;

    font-family: 'Gotham Pro';
    font-size: 21px;
    font-weight: 400;
    line-height: 130.2%;
    letter-spacing: 0%;
}

.actions__one--title {
    font-family: 'Gotham Pro';
    font-size: 35px;
    font-weight: 400;
    line-height: 130.2%;
    letter-spacing: 0%;
    text-align: left;
}

.actions__one--text {
    max-width: 381px;
    width: 100%;

    font-family: 'Gotham Pro';
    font-size: 22px;
    font-weight: 400;
    line-height: 158.7%;
    letter-spacing: 0%;
    text-align: left;
}

.actions__one--digit {
    position: absolute;
    top: -50px;
    right: -21%;

    background: linear-gradient(180.00deg, #3d4f3b5e, #3d4f3b00 100%);
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    font-family: 'Gotham Pro';
    font-size: 300px;
    font-weight: 700;
    line-height: 117.2%;
    letter-spacing: 0%;
}


.actions__two {
    position: relative;
    max-width: 381px;
    width: 100%;
}

.actions__two--steps {
    padding-bottom: 20px;

    font-family: 'Gotham Pro';
    font-size: 21px;
    font-weight: 400;
    line-height: 130.2%;
    letter-spacing: 0%;
}

.actions__two--title {
    font-family: 'Gotham Pro';
    font-size: 35px;
    font-weight: 400;
    line-height: 130.2%;
    letter-spacing: 0%;
    text-align: left;
}

.actions__two--text {
    max-width: 381px;
    width: 100%;

    font-family: 'Gotham Pro';
    font-size: 22px;
    font-weight: 400;
    line-height: 158.7%;
    letter-spacing: 0%;
    text-align: left;
}

.actions__two--digit {
    position: absolute;
    top: -50px;
    right: -27%;

    background: linear-gradient(180.00deg, #3d4f3b5e, #3d4f3b00 100%);
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    font-family: 'Gotham Pro';
    font-size: 300px;
    font-weight: 700;
    line-height: 117.2%;
    letter-spacing: 0%;
}

.actions__three {
    position: relative;
    max-width: 381px;
    width: 100%;
}

.actions__three--steps {
    padding-bottom: 20px;

    font-family: 'Gotham Pro';
    font-size: 21px;
    font-weight: 400;
    line-height: 130.2%;
    letter-spacing: 0%;
}

.actions__three--title {
    font-family: 'Gotham Pro';
    font-size: 35px;
    font-weight: 400;
    line-height: 130.2%;
    letter-spacing: 0%;
    text-align: left;
}

.actions__three--text {
    max-width: 381px;
    width: 100%;

    font-family: 'Gotham Pro';
    font-size: 22px;
    font-weight: 400;
    line-height: 158.7%;
    letter-spacing: 0%;
    text-align: left;
}

.actions__three--digit {
    position: absolute;
    top: -50px;
    right: -41%;

    background: linear-gradient(180.00deg, #3d4f3b5e, #3d4f3b00 100%);
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    font-family: 'Gotham Pro';
    font-size: 300px;
    font-weight: 700;
    line-height: 117.2%;
    letter-spacing: 0%;
}

/* ========================= */

.bonus__inner {
    position: relative;
}

.bonus__title {
    padding-top: 450px;
    text-align: center;
}

.bonus__text {
    padding-top: 33px;

    font-family: 'Gotham Pro';
    font-size: 25px;
    font-weight: 400;
    line-height: 158.2%;
    letter-spacing: 0%;
    text-align: center;
}

.bonus__button-conteiner {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.bonus__button--orange {
    max-width: 376px;
    width: 100%;
    height: 106px;
}

.bonus__button {
    max-width: 376px;
    width: 100%;
    height: 106px;
}

.bonus__button-bl {
    max-width: 376px;
    width: 100%;
    height: 106px;
}

.bonus_button--black {
    max-width: 376px;
    width: 100%;
    height: 106px;
}


.bonus__inscription {
    position: absolute;
    top: 34.6%;
    right: 25%;
    z-index: -1;

    background: linear-gradient(180.00deg, #4b5951, #3d52461a 99%);
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    font-family: 'Gotham Pro';
    font-size: 200px;
    font-weight: 700;
    line-height: 117.2%;
    letter-spacing: 0%;

}

.bonus__img--left {
    position: absolute;
    max-width: 1767px;
    width: 100%;
    top: -6%;
    right: 64%;
}

.bonus__img--right {
    position: absolute;
    max-width: 1625.36px;
    width: 100%;
    top: 3%;
    left: 73%;
}


.bonus__img--right-top {
    position: absolute;
    max-width: 221.38px;
    width: 100%;
    top: 17%;
    left: 91.1%;
}

.bonus__img--right-bottom {
    position: absolute;
    max-width: 439.65px;
    width: 100%;
    top: 37%;
    left: 72%;
}

.bonus__bg--left {
    position: absolute;
    top: 42%;
    left: -23%;

    filter: blur(500px);
    background: linear-gradient(180.00deg, #98c269, #9edfb6 100%);
    width: 100%;
    max-width: 500px;
    height: 300px;
}

.bonus__bg--right {
    position: absolute;
    top: 42%;
    right: -25%;

    filter: blur(500px);
    background: linear-gradient(180.00deg, #98c269, #9edfb6 100%);
    width: 100%;
    max-width: 500px;
    height: 300px;
}


/* ============================ */
/* ============================ */
/* ============================ */

/* Адаптация */

@media (max-width: 1500px) {
    .actions__three--digit {
        right: -25%;
    }

    /* ================= */

    .bonus__inscription {
        top: 38.6%;
        right: 27%;
        font-size: 172px;
    }

    .bonus__img--left {
        top: 4%;
        right: 64%;
    }

    .bonus__img--right {
        top: 26%;
        left: 73%;
    }

    .bonus__img--right-top {
        position: absolute;
        max-width: 221.38px;
        width: 100%;
        top: 21%;
        left: 94.1%;
    }

    .bonus__img--right-bottom {
        top: 43%;
        left: 73%;
    }
}

@media (max-width: 1460px) {
    .actions {
        row-gap: 35px;
        column-gap: 20px;
    }

    .actions__one--steps {
        font-size: 19px;
    }

    .actions__one--title {
        font-size: 30px;
    }

    .actions__one--text {
        font-size: 20px;
    }

    .actions__one--digit {
        right: -11%;
        font-size: 280px;
    }

    .actions__two--steps {
        font-size: 19px;
    }

    .actions__two--title {
        font-size: 30px;
    }

    .actions__two--text {
        font-size: 20px;
    }

    .actions__two--digit {
        right: -16%;
        font-size: 280px;
    }

    .actions__three--steps {
        font-size: 19px;
    }

    .actions__three--title {
        font-size: 30px;
    }

    .actions__three--text {
        font-size: 20px;
    }

    .actions__three--digit {
        font-size: 280px;
    }

    /* =============== */

    .bonus__inscription {
        top: 36.3%;
        right: 25%;
        font-size: 180px;
    }
}

@media (max-width: 1300px) {
    .actions {
        row-gap: 20px;
        column-gap: 15px;
    }

    .actions__one--steps {
        font-size: 15px;
    }

    .actions__one--title {
        font-size: 25px;
    }

    .actions__one--digit {
        right: 1%;
        font-size: 225px;
    }

    .actions__one--text {
        font-size: 18px;
    }

    .actions__two--steps {
        font-size: 15px;
    }

    .actions__two--title {
        font-size: 25px;
    }

    .actions__two--digit {
        right: 1%;
        font-size: 225px;
    }

    .actions__two--text {
        font-size: 18px;
    }

    .actions__three--steps {
        font-size: 15px;
    }

    .actions__three--title {
        font-size: 25px;
    }

    .actions__three--digit {
        right: 1%;
        font-size: 225px;
    }

    .actions__three--text {
        font-size: 18px;
    }

    /* =================== */
    .bonus__title {
        padding-top: 380px;
        font-size: 50px;
    }

    .bonus__button--orange {
        max-width: 252px;
        width: 100%;
        height: 76px;
    }

    .bonus__button {
        max-width: 252px;
        width: 100%;
        height: 76px;
        border-radius: 18px;
    }

    .bonus__button-bl {
        max-width: 252px;
        width: 100%;
        height: 76px;
    }

    .bonus_button--black {
        max-width: 252px;
        width: 100%;
        height: 76px;
        border-radius: 18px;
    }

    .bonus__inscription {
        top: 39.3%;
        right: 32.7%;
        font-size: 120px;
    }
}

@media (max-width: 1250px) {
    .invest__title {
        font-size: 60px;
    }

    .invest__text {
        font-size: 24px;
    }

    /* ================== */

    .bonus__img--left {
        top: 4%;
        right: 67%;
    }

    .bonus__img--right-top {
        top: 21%;
        left: 90.1%;
    }

    .bonus__img--right-bottom {
        max-width: 350.65px;
        width: 100%;
        top: 43%;
        left: 74%;
    }

    .bonus__bg--right {
        top: 50%;
        right: -35%;
    }

    .bonus__bg--left {
        top: 50%;
        left: -35%;
    }
}

@media (max-width: 1200px) {
    .actions {
        row-gap: 10px;
    }

    .actions__one--steps {
        font-size: 12px;
    }

    .actions__one--title {
        font-size: 20px;
    }

    .actions__two--steps {
        font-size: 12px;
    }

    .actions__two--title {
        font-size: 20px;
    }

    .actions__three--steps {
        font-size: 12px;
    }

    .actions__three--title {
        font-size: 20px;
    }

    .bonus__inscription {
        right: 30.7%;
    }
}

@media (max-width: 1080px) {
    .invest__title {
        font-size: 50px;
    }

    .invest__text {
        font-size: 23px;
    }

    /* ================== */

    .bonus__inscription {
        right: 28.7%;
    }

    .bonus__img--left {
        top: 11%;
        right: 67%;
    }

    .bonus__img--right {
        top: 39%;
        left: 73%;
    }

    .bonus__img--right-top {
        top: 24%;
        left: 90.1%;
    }

    .bonus__img--right-bottom {
        max-width: 265.65px;
        width: 100%;
        top: 52%;
        left: 74%;
    }
}

@media (max-width: 900px) {
    .invest__title {
        font-size: 35px;
    }

    .invest__text {
        font-size: 21px;
    }

    /* ======================= */

    .actions__one--steps {
        font-size: 9px;
    }

    .actions__one--title {
        font-size: 16px;
    }

    .actions__one--digit {
        right: 9%;
        font-size: 150px;
    }

    .actions__one--text {
        font-size: 13.5px;
    }

    .actions__two--steps {
        font-size: 9px;
    }

    .actions__two--title {
        font-size: 16px;
    }

    .actions__two--digit {
        right: 9%;
        font-size: 150px;
    }

    .actions__two--text {
        font-size: 13.5px;
    }

    .actions__three--steps {
        font-size: 9px;
    }

    .actions__three--title {
        font-size: 16px;
    }

    .actions__three--digit {
        right: -3%;
        font-size: 150px;
    }

    .actions__three--text {
        font-size: 13.5px;
    }

    /* ===================== */

    .bonus__title {
        padding-top: 300px;
        font-size: 50px;
    }

    .bonus__text {
        font-size: 20px;
    }

    .bonus__button-conteiner {
        padding-top: 50px;
    }

    .bonus__button--orange {
        max-width: 200px;
        width: 100%;
        height: 66px;
    }

    .bonus__button {
        max-width: 200px;
        width: 100%;
        height: 66px;
    }

    .bonus__button-bl {
        max-width: 200px;
        width: 100%;
        height: 66px;
    }

    .bonus_button--black {
        max-width: 200px;
        width: 100%;
        height: 66px;
    }

    .bonus__inscription {
        right: 24.7%;
        top: 34.3%;
    }


}

@media (max-width: 800px) {
    .bonus__inscription {
        right: 19.7%;
        top: 34.3%;
    }

    .bonus__img--left {
        top: 17%;
        right: 71%;
    }

    .bonus__img--right-bottom {
        display: none;
    }

    .bonus__img--right-top {
        max-width: 140px;
        width: 100%;
        top: 24%;
        left: 93.1%;
    }

    .bonus__img--right {
        top: 46%;
        left: 75%;
    }

    .bonus__bg--left {
        top: 50%;
        left: -60%;
    }

    .bonus__bg--right {
        top: 50%;
        right: -60%;
    }
}

@media (max-width: 650px) {
    .main__steps {
        padding-top: 100px;
    }

    .invest__title {
        font-size: 25px;
    }

    .invest__text {
        font-size: 18px;
        padding-bottom: 140px;
    }

    /* ====================== */

    .actions__one--steps {
        font-size: 7px;
    }

    .actions__one--title {
        font-size: 12px;
    }

    .actions__one--digit {
        right: 15%;
        top: -30%;
        font-size: 100px;
    }

    .actions__one--text {
        font-size: 9.5px;
    }

    .actions__two--steps {
        font-size: 7px;
    }

    .actions__two--title {
        font-size: 12px;
    }

    .actions__two--digit {
        right: 15%;
        top: -30%;
        font-size: 100px;
    }

    .actions__two--text {
        font-size: 9.5px;
    }

    .actions__three--steps {
        font-size: 7px;
    }

    .actions__three--title {
        font-size: 12px;
    }

    .actions__three--digit {
        right: 7%;
        top: -30%;
        font-size: 100px;
    }

    .actions__three--text {
        font-size: 9.5px;
    }

    /* =================== */

    .bonus__title {
        padding-top: 200px;
        font-size: 35px;
    }

    .bonus__text {
        padding-top: 18px;
        font-size: 16px;
    }

    .bonus__button--orange {
        max-width: 145px;
        height: 55px;
        margin-right: 5px;
    }

    .bonus__button {
        max-width: 145px;
        height: 55px;
        border-radius: 12px;
        margin-right: 5px;
    }

    .bonus__button-bl {
        max-width: 145px;
        height: 55px;
    }

    .bonus_button--black {
        max-width: 145px;
        height: 55px;
        border-radius: 12px;
    }

    .bonus__inscription {
        right: 24.7%;
        top: 31.3%;
        font-size: 80px;
    }

    .bonus__img--left {
        top: 6%;
        right: 71%;
    }

    .bonus__img--right {
        top: 37%;
        left: 75%;
    }

    .bonus__img--right-top {
        max-width: 140px;
        width: 100%;
        top: 24%;
        left: 89.1%;
    }

    .bonus__bg--left {
        top: 25%;
        left: -75%;
    }

    .bonus__bg--right {
        top: 25%;
        right: -75%;
    }
}

@media (max-width: 460px) {
    .main__steps {
        padding-top: 70px;
    }

    .invest__title {
        font-size: 18px;
    }

    .invest__text {
        font-size: 14px;
        padding-bottom: 100px;
    }

    /* =================== */

    .bonus__title {
        padding-top: 150px;
        font-size: 20px;
    }

    .bonus__text {
        font-size: 13px;
    }

    .bonus__inscription {
        right: 26.7%;
        top: 31.3%;
        font-size: 45px;
    }

    .bonus__bg--left {
        top: 25%;
        left: -95%;
    }

    .bonus__bg--right {
        top: 25%;
        right: -95%;
    }
}