.tools {
    padding: 235px 0px;
}


.tools__title {
    text-align: center;
}

.advantages {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 22px;
    margin-right: 15px;
}

.advantages__company {
    display: grid;
    border-radius: 5px;
    background: #1b1b1c;
}

.advantages__company--icon {
    max-width: 57px;
    width: 100%;
    padding: 44px 283px 58px 38px;

}

.advantages__company--title {
    font-family: 'Gotham Pro';
    font-size: 26px;
    font-weight: 700;
    line-height: 125.2%;
    letter-spacing: 0%;

    padding: 0 59px 35px 43px;
}

.advantages__company--text {
    font-family: 'Gotham Pro';
    font-size: 22px;
    font-weight: 400;
    line-height: 156.7%;
    letter-spacing: 0%;
    padding: 0 33px 12px 44px;
}

.advantages__company--link {
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 400;
    line-height: 156.7%;
    letter-spacing: 0%;

}

.link {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 20px;
    padding-right: 22px;
}



.advantages__conclusion {
    display: grid;
    border-radius: 5px;
    background: #1b1b1c;
}

.advantages__icon {
    max-width: 57px;
    width: 100%;
    padding: 44px 283px 30px 38px;
}

.advantages__title {
    font-family: 'Gotham Pro';
    font-size: 26px;
    font-weight: 700;
    line-height: 125.2%;
    letter-spacing: 0%;

    padding: 0 59px 35px 43px;
}

.advantages__text {
    font-family: 'Gotham Pro';
    font-size: 22px;
    font-weight: 400;
    line-height: 156.7%;
    letter-spacing: 0%;
    padding: 0 33px 12px 44px;
}

.advantages__link {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 20px;
    padding-right: 22px;

    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 400;
    line-height: 156.7%;
    letter-spacing: 0%;
}



.advantages__credit {
    display: grid;
    border-radius: 5px;
    background: #1b1b1c;
}

.advantages__time {
    display: grid;
    border-radius: 5px;
    background: #1b1b1c;
}

.advantages__tools {
    display: grid;
    border-radius: 5px;
    background: #1b1b1c;
}

.advantages__account {
    display: grid;
    border-radius: 5px;
    background: #1b1b1c;
}

.advantages__bonus {
    display: grid;
    border-radius: 5px;
    background: #1b1b1c;
}


.advantages__platforms {
    display: grid;
    border-radius: 5px;
    background: #1b1b1c;
}


/* ==================================== */

.tools__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.portfolio {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 150px 0;
}

.portfolio__bar {
    padding: 300px 0 0 200px;

}

.portfolio__bar--text {
    font-family: 'Gotham Pro';
    font-size: 30px;
    font-weight: 400;
    line-height: 156.7%;
    letter-spacing: 0%;
    text-align: center;
}

.portfolio__bar--title {
    text-align: center;
    padding-bottom: 16px;
}

.portfolio__bar--risk {
    color: #c5c5c5;
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 400;
    line-height: 126.2%;
    letter-spacing: 0%;
    text-align: center;

    border-radius: 35px;
    max-width: 172px;
    width: 100%;
    height: 32px;
    background: linear-gradient(119.42deg, #42594a66, #65cc7d38 100%);
    padding-top: 5px;
    margin-left: 60px;
}

.portfolio__bar--slider {
    text-align: center;
    max-width: 350px;
    padding-top: 45px;
}



input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 110%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #303030;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #61bb75;
    ;
    border-radius: 50%;
    border: none;

    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: linear-gradient(119.42deg, #42594a66, #65cc7d38 100%);
    border-radius: 50%;
    border: none;

    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
}

.portfolio__slider--value {
    display: none;
}



.portfolio__bar--list {
    margin-top: 57px;
    font-family: 'Gotham Pro';
    font-size: 25px;
    font-weight: 400;
    line-height: 156.7%;
    letter-spacing: 0%;

}

.portfolio__bar--item {
    padding-bottom: 60px;
}

.portfolio__bar--item:last-child {
    padding-bottom: 0px;
}


.portfolio__bar--item__input {
    -webkit-appearance: none;
    appearance: none;
    background: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: -7px 0;
    width: 42px;
    height: 42px;
    border: double 2px transparent;
    border-radius: 50%;
    background-image: linear-gradient(#000000, #000000), radial-gradient(circle at top left, #425C4C, #66CC7D);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.portfolio__bar--item__input:checked {
    border: double 12px transparent;
    border-radius: 50%;
    background-image: linear-gradient(#000000, #000000), radial-gradient(circle at top left, #425C4C, #66CC7D);
    background-origin: border-box;
    background-clip: content-box, border-box;

}




.portfolio__bar--img {
    position: absolute;
    top: 20.4%;
    right: -52.5%;
    pointer-events: none;

}

.portfolio__bar--img img {
    max-width: 690px;
    width: 100%;
    z-index: -1;
}


/* ===================================== */


.info {
    max-width: 687px;
    width: 100%;
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 250px;


}


.info__title {
    font-size: 65px;
}


.info__text {
    font-family: 'Gotham Pro';
    font-size: 25px;
    font-weight: 400;
    line-height: 158.2%;
    letter-spacing: 0%;
    padding: 20px 0 50px 0;
    max-width: 510px;
    width: 100%;

}

.info__button--orange {
    border-radius: 20px;
    max-width: 378px;
    width: 100%;
    height: 106px;
    padding: 35px 0 38px 0;
    text-align: center;

    color: rgba(0, 0, 0, 1);
    font-family: 'Gotham Pro';
    font-size: 22px;
    font-weight: 700;
    line-height: 158.7%;
    letter-spacing: 0%;
}




/* =================================== */


.resuit__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;

}


.resuit__investors--title {
    padding-bottom: 20px;
    background: linear-gradient(146.98deg, #65ca7c, #4f815c 100%);
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    font-family: 'Gotham Pro';
    font-size: 70px;
    font-weight: 700;
    line-height: 117.2%;
    letter-spacing: 0%;
}


.resuit__investors--text {
    font-family: 'Gotham Pro';
    font-size: 26px;
    font-weight: 400;
    line-height: 125.2%;
    letter-spacing: 0%;
}


.resuit__tools--title {
    padding-bottom: 20px;
    background: linear-gradient(146.98deg, #65ca7c, #4f815c 100%);
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    font-family: 'Gotham Pro';
    font-size: 70px;
    font-weight: 700;
    line-height: 117.2%;
    letter-spacing: 0%;
    text-align: center;
}

.resuit__tools--text {
    font-family: 'Gotham Pro';
    font-size: 26px;
    font-weight: 400;
    line-height: 125.2%;
    letter-spacing: 0%;
}


.resuit__finance--title {
    padding-bottom: 20px;
    background: linear-gradient(146.98deg, #65ca7c, #4f815c 100%);
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    font-family: 'Gotham Pro';
    font-size: 70px;
    font-weight: 700;
    line-height: 117.2%;
    letter-spacing: 0%;
}

.resuit__finance--text {
    font-family: 'Gotham Pro';
    font-size: 26px;
    font-weight: 400;
    line-height: 125.2%;
    letter-spacing: 0%;
    text-align: center;
}



/* ============================ */
/* ============================ */
/* ============================ */


@media (max-width: 1560px) {
    .advantages {
        padding: 80px 0;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 0.2fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 22px;
        margin-right: 15px;
    }

    .info__inner {
        padding-bottom: 210px;
    }

}

@media (max-width: 1470px) {
    .portfolio__bar {
        padding: 300px 0 0 180px;
    }

    .portfolio__bar--item {
        padding-bottom: 50px;
    }

    .portfolio__bar--risk {

        margin-left: 84px;
    }

    .info {
        padding-bottom: 170px;
    }

    .info__inner {
        padding-bottom: 170px;
    }

}

@media (max-width: 1350px) {
    .portfolio__bar {
        padding: 300px 0 0 135px;
    }

    .portfolio__bar--title {
        font-style: 60px;
    }

    .portfolio__bar--slider {
        text-align: center;
        max-width: 350px;
        padding-top: 25px;
    }

    .portfolio__bar--item {
        padding-bottom: 40px;
    }

    .portfolio__bar--item__input:checked {
        border: double 10px transparent;
    }

    .portfolio__bar--item__input {
        width: 35px;
        height: 35px;
    }

    .portfolio__bar--img {
        max-width: 800px;
        top: 25%;
        right: -45%;
    }

    /* ============================ */

    .info {
        padding-bottom: 120px;
    }

    .info__inner {
        padding-bottom: 120px;
    }

    .info__title {
        font-size: 55px;
    }

    .info__text {
        font-size: 23px;
    }

    .info__button--orange {
        max-width: 330px;
    }

    /* =================== */

    .resuit__investors--title {
        padding-bottom: 15px;
        font-size: 60px;
    }

    .resuit__investors--text {
        font-size: 23px;
    }

    .resuit__tools--title {
        padding-bottom: 15px;
        font-size: 60px;
    }

    .resuit__tools--text {
        font-size: 23px;
    }

    .resuit__finance--title {
        padding-bottom: 15px;
        font-size: 60px;
    }


    .resuit__finance--text {
        font-size: 23px;
    }

}

@media (max-width: 1230px) {

    .advantages__company--title {
        font-family: 'Gotham Pro';
        font-size: 23px;
    }

    .advantages__company--text {
        font-family: 'Gotham Pro';
        font-size: 19px;
    }

    .advantages__company--link {
        font-family: 'Gotham Pro';
        font-size: 15px;
    }

    .advantages__title {
        font-family: 'Gotham Pro';
        font-size: 23px;
    }

    .advantages__text {
        font-family: 'Gotham Pro';
        font-size: 19px;
    }

    .advantages__link {
        font-family: 'Gotham Pro';
        font-size: 15px;
    }

    /* ============================= */

    .portfolio__bar {
        padding: 250px 0 0 135px;
    }

    .portfolio__bar--text {
        font-size: 26px;
    }

    .portfolio__bar--title {
        font-size: 64px;
    }

    .portfolio__bar--risk {
        margin-left: 66px;
    }

    .portfolio__bar--slider {
        max-width: 300px;
    }

    .portfolio__bar--list {
        margin-top: 47px;
        font-size: 20px;
    }

    .portfolio__bar--img {
        max-width: 730px;
        top: 24%;
        right: -52%;
    }


    /* ============================ */


    .info {
        padding-left: 200px;
    }

    .info__title {
        font-size: 50px;
    }

    .info__text {
        font-size: 21.5px;
    }

    .info__button--orange {
        max-width: 280px;
        border-radius: 19px;
    }

    /* ==================== */


    .resuit__investors--title {
        padding-bottom: 15px;
        font-size: 50px;
    }

    .resuit__investors--text {
        font-size: 20px;
    }

    .resuit__tools--title {
        padding-bottom: 15px;
        font-size: 50px;
    }

    .resuit__tools--text {
        font-size: 20px;
    }

    .resuit__finance--title {
        padding-bottom: 15px;
        font-size: 50px;
    }


    .resuit__finance--text {
        font-size: 20px;
    }
}

@media (max-width: 1150px) {

    .advantages {
        grid-template-columns: repeat(2, 0.2fr);
    }

    .tools__title {
        font-size: 60px;
    }

    /* =========================== */

    .portfolio {

        padding: 50px 0;
    }

    .portfolio__bar {
        padding: 250px 0 0 100px;
    }

    .portfolio__bar--text {
        font-size: 23px;
    }

    .portfolio__bar--title {
        padding-bottom: 10px;
        font-size: 55px;
    }

    .portfolio__bar--risk {
        margin-left: 66px;
        font-size: 15px;
        max-width: 150px;
    }

    .portfolio__bar--slider {
        max-width: 250px;
    }

    .portfolio__bar--list {
        margin-top: 37px;
        font-size: 17px;
    }

    .portfolio__bar--item {
        padding-bottom: 30px;
    }

    .portfolio__bar--item__input {
        width: 25px;
        height: 25px;
        margin: -5px 0;
    }

    .portfolio__bar--item__input:checked {
        border: double 7px transparent;
    }

    .portfolio__bar--img {
        max-width: 620px;
        top: 24%;
        right: -53%;
    }

    /* ============================ */

    .info {
        padding-left: 100px;
        padding-bottom: 0px;
    }

    .info__inner {
        padding-bottom: 0px;
    }

    .info__title {
        font-size: 45px;
    }

    .info__text {
        font-size: 18.5px;
    }

    .info__button--orange {
        max-width: 230px;
        font-size: 18px;
        border-radius: 17px;
        height: 90px;
        padding: 31px 0 29px 0;
    }

    /* ========================== */

    .resuit__investors--title {
        padding-top: 150px;
        padding-bottom: 15px;
        font-size: 45px;
    }

    .resuit__investors--text {
        font-size: 18px;
    }

    .resuit__tools--title {
        padding-top: 150px;
        padding-bottom: 15px;
        font-size: 45px;
    }

    .resuit__tools--text {
        font-size: 18px;
    }

    .resuit__finance--title {
        padding-top: 150px;
        padding-bottom: 15px;
        font-size: 45px;
    }


    .resuit__finance--text {
        font-size: 18px;
    }
}

@media (max-width: 1070px) {
    .tools__conteiner {
        flex-direction: column-reverse;
        align-items: center;
    }

    .portfolio {
        padding: 100px 0;
    }

    .portfolio__bar {
        padding: 0px 0 0 0px;
    }

    .portfolio__bar--text {
        font-size: 20px;
    }

    .portfolio__bar--title {
        font-size: 43px;
    }

    .portfolio__bar--risk {
        margin-left: 57px;
        font-size: 12px;
        max-width: 100px;
    }

    .portfolio__bar--slider {
        max-width: 215px;
    }

    .portfolio__bar--list {
        margin-top: 27px;
        font-size: 14px;
    }

    .portfolio__bar--item {
        padding-bottom: 20px;
    }

    .portfolio__bar--item__input {
        width: 20px;
        height: 20px;
        margin: -3px 0;
    }

    .portfolio__bar--item__input:checked {
        border: double 5px transparent;
    }

    .portfolio__bar--img {
        max-width: 550px;
        top: -6%;
        right: -87%;
    }

    /* ============================ */

    .info {
        padding-left: 0px;
        padding-top: 70px;
    }

    .info__title {
        font-size: 35px;
    }

    .info__text {
        font-size: 15.5px;
        padding: 20px 0 30px 0;
    }

    .info__button--orange {
        max-width: 180px;
        font-size: 15px;
        border-radius: 12px;
        height: 75px;
        padding: 26px 0 29px 0;
    }

    /* ====================== */


    .resuit__investors--title {
        padding-top: 100px;
        padding-bottom: 15px;
        font-size: 35px;
    }

    .resuit__investors--text {
        font-size: 15px;
    }

    .resuit__tools--title {
        padding-top: 100px;
        padding-bottom: 15px;
        font-size: 35px;
    }

    .resuit__tools--text {
        font-size: 15px;
    }

    .resuit__finance--title {
        padding-top: 100px;
        padding-bottom: 15px;
        font-size: 35px;
    }


    .resuit__finance--text {
        font-size: 15px;
    }
}

@media (max-width: 810px) {
    .tools {
        padding: 228px 0px 122px;
    }

    .tools__title {
        font-size: 45px;
    }

    /* ========================== */

    .advantages {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    /* ======================= */



    .resuit__investors--title {
        padding-top: 70px;
        padding-bottom: 10px;
        font-size: 25px;
        padding-right: 10px;
    }

    .resuit__investors--text {
        font-size: 12px;
        padding-right: 10px;
    }

    .resuit__tools--title {
        padding-top: 70px;
        padding-bottom: 10px;
        font-size: 25px;
    }

    .resuit__tools--text {
        font-size: 12px;
    }

    .resuit__finance--title {
        padding-top: 70px;
        padding-bottom: 10px;
        font-size: 25px;
    }


    .resuit__finance--text {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .tools__title {
        font-size: 34px;
    }
}

@media (max-width: 500px) {
    .tools__title {
        font-size: 26px;
    }

    /* ==================== */



    .resuit__investors--title {
        padding-top: 70px;
        padding-bottom: 10px;
        font-size: 17px;
        padding-right: 10px;
    }

    .resuit__investors--text {
        font-size: 10px;
        padding-right: 8px;
    }

    .resuit__tools--title {
        padding-top: 70px;
        padding-bottom: 10px;
        font-size: 17px;
    }

    .resuit__tools--text {
        font-size: 8px;
    }

    .resuit__finance--title {
        padding-top: 70px;
        padding-bottom: 10px;
        font-size: 17px;
    }


    .resuit__finance--text {
        font-size: 8px;
    }

}


@media (max-width: 440px) {
    .portfolio__bar--img {
        max-width: 500px;
        top: -2%;
        right: -75%;
    }
}